@font-face {
	font-family: 'Roboto';
	src: url(../fonts/Roboto-Regular.ttf)
  }
  
@import 'variables';
  
body {
	min-width: 320px;
	// max-width: $page-width;
	font-family: $font-family, serif;
	background-color: #fff89d;
	margin: 0 auto;
}

p {
	font-size: $paragraph-font-size;
}

h1 {
	font-size: 3rem;
	padding: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #ff8383;
}

h2 {
	font-size: 2rem;
	padding: 20px;
	background-color: #8b93ff;
}
// #wrapper {
// 	background-color: #48fd57;
// 	width: 1024px;
// 	text-align: center;
// }